:root {
    --schedule-color-primary-select: hsl(0, 70%, 27%);
    --schedule-color-primary: hsl(0, 59%, 39%);
    --schedule-color-primary-second: hsl(0, 54%, 46%);
    --schedule-color-primary-third: hsl(0, 49%, 53%);
    --schedule-color-primary-light: hsl(0, 45%, 60%);
    --schedule-color-light: rgb(240, 240, 240);
    --schedule-color-dimlight: rgb(225, 225, 225);
    --schedule-color-lightgray: rgb(200, 200, 200);
    --schedule-color-gray-select: hsl(0, 0%, 42%);
    --schedule-color-gray: hsl(0, 0%, 56%);
    --schedule-color-gray-second: hsl(0, 0%, 63%);
    --schedule-color-gray-third: hsl(0, 0%, 70%);
    --schedule-color-gray-dark: hsl(0, 0%, 20%);
    --schedule-tile-width: 15vw;
    --schedule-tile-height: 10vw;
    --schedule-logo-width: 25vw;
    --schedule-logo-height: 10vw;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--schedule-color-primary);
}

.tile-table {
    padding: 7.5vw;
    background-color: var(--schedule-color-lightgray);
    min-height: 100vh;
}

.tile-table-flex {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.schedule-tile {
    width: var(--schedule-tile-width);
    height: var(--schedule-tile-height);
    color: var(--schedule-color-light);
    border-color: var(--schedule-color-lightgray) !important;
}

.schedule-tile:hover {
    --height: 0.5vw;
    position: relative;
    bottom: var(--height);
    right: var(--height);
    box-shadow: var(--height) var(--height) var(--schedule-color-gray-dark);
    border-color: var(--schedule-color-primary) !important;
}

.schedule-tile-normal {
    background-color: var(--schedule-color-primary-second);
    font-weight: 500;
    font-size: 2rem;
}

.schedule-tile-add {
    background-color: var(--schedule-color-primary-select);
    font-weight: 700;
    font-size: 3.5rem
}

.doctor-tile {
    width: var(--schedule-tile-width);
    height: calc(2 * var(--schedule-tile-height));
    color: var(--schedule-color-light);
    border: 1px solid;
    border-color: var(--schedule-color-lightgray);
}

.doctor-tile:hover {
    --height: 0.5vw;
    position: relative;
    bottom: var(--height);
    right: var(--height);
    box-shadow: var(--height) var(--height) var(--schedule-color-gray-dark);
    border-right: none;
    border-bottom: none;
}

.doctor-tile-img {
    height: var(--schedule-tile-height);
    color: var(--schedule-color-lightgray);
    font-size: min(5rem, 8vw);
    background-color: var(--schedule-color-gray-second);
}

.doctor-tile-name {
    height: var(--schedule-tile-height);
    padding: 0.5rem;
    text-align: center;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    word-break: break-word;
    overflow: hidden;
    line-height: 1.15;
}

.doctor-tile-normal {
    background-color: var(--schedule-color-primary-second);
    font-weight: 500;
    font-size: 1.5rem;
}

.doctor-tile-add {
    background-color: var(--schedule-color-primary-select);
    font-weight: 700;
    font-size: 3.5rem
}

.logo {
    height: var(--schedule-logo-height);
    width: var(--schedule-logo-width);
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--schedule-color-light);
    background-color: var(--schedule-color-primary);
}

.logo h1 {
    letter-spacing: -0.05em;
}

.left-col {
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

.right-col {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

.duty-view {
    height: 88vh;
    max-height: 88vh;
    overflow-y: scroll;
}

.duty-menu {
    height: 12vh;
}

.duty-menu .col {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.duty-calendar-tile {
    height: 3rem;
    padding: 0.4rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.duty-calendar-tile.weekend {
    color: var(--schedule-color-light);
    background-color: var(--schedule-color-primary);
}

.inactive.duty-calendar-tile.weekend {
    color: var(--schedule-color-light);
    background-color: var(--schedule-color-gray);
}

.duty-calendar-tile.weekday {
    color: var(--schedule-color-primary);
    background-color: var(--schedule-color-light);
}

.inactive.duty-calendar-tile.weekday {
    color: var(--schedule-color-gray);
    background-color: var(--schedule-color-light);
}

.duty-calendar-tile-day {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 1;
    letter-spacing: -0.05em;
}

.duty-calendar-tile-weekday {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1;
    letter-spacing: -0.05em;
}

.duty-tile {
    height: 3rem;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.duty-tile.normal-1 {
    background-color: var(--schedule-color-primary);
}

.duty-tile.normal-2 {
    background-color: var(--schedule-color-primary-second);
}

.duty-tile.normal-3 {
    background-color: var(--schedule-color-primary-third);
}

.duty-tile.inactive-1 {
    background-color: var(--schedule-color-gray);
}

.duty-tile.inactive-2 {
    background-color: var(--schedule-color-gray-second);
}

.duty-tile.inactive-3 {
    background-color: var(--schedule-color-gray-third);
}

.duty-tile.highlight {
    background-color: var(--schedule-color-primary-select);
}

.duty-tile.outside-preferences {
    background-color: var(--schedule-color-gray);
}

.duty-tile.inactive.highlight {
    background-color: var(--schedule-color-gray-select);
}

.duty-tile-on-duty {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: var(--schedule-color-light);
    height: inherit;
    width: 75%;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.duty-tile-off-duty {
    font-size: 0.75rem;
    color: var(--schedule-color-dimlight);
    font-style: italic;
}

.duty-tile-controls {
    display: flex;
    align-items: center;
    justify-content: right;
    height: inherit;
    margin: 0;
    padding: 0;
}

.duty-tile-control {
    height: 1.25rem;
    width: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.duty-tile-control.position {
    background-color: var(--schedule-color-dimlight);
    color: var(--schedule-color-primary);
    font-weight: 600;
    margin-left: 0.3rem;
}

.inactive-1 .duty-tile-control.position,
.inactive-2 .duty-tile-control.position,
.inactive-3 .duty-tile-control.position {
    background-color: var(--schedule-color-dimlight);
    color: var(--schedule-color-gray);
    font-weight: 600;
    margin: 0.3rem;
}

.duty-tile-control.control {
    color: var(--schedule-color-dimlight);
    font-size: 1.25rem;
}

.duty-tile-control.control:hover {
    font-size: 1.75rem;
    padding: 0.75rem;
    color: var(--schedule-color-primary);
    background-color: var(--schedule-color-dimlight);
}

.duty-tile.weekend {
    color: var(--schedule-color-light) !important;
    background-color: var(--schedule-color-primary) !important;
}

.duty-tile-dropdown.dropdown-menu {
    --bs-dropdown-bg: var(--schedule-color-primary);
    --bs-dropdown-border-color: var(--schedule-color-dimlight);
}

.duty-tile-dropdown .dropdown-item {
    color: var(--schedule-color-light);
}

.duty-tile-dropdown .dropdown-item:hover {
    color: var(--schedule-color-primary);
    background-color: var(--schedule-color-light);
}

.duty-tile-month {
    height: 3rem;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--schedule-color-primary);
    background-color: var(--schedule-color-light);
}

.duty-tile-month.inactive {
    margin-bottom: 0;
    color: var(--schedule-color-gray);
}

.duty-tile-month h2 {
    margin-bottom: 0;
}

.my-offcanvas {
    position: fixed;
    bottom: 12vh;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    height: 40vh;
    width: 75vw;
    background-color: var(--schedule-color-light);
}

.log-content {
    height: 80%;
    width: 100%;
    background-color: var(--schedule-color-dimlight);
    font-family: monospace;
    font-size: 15px;
    line-height: 140%;
    padding: 0.7em;
    overflow-y: scroll;
}

.log-content li {
    list-style-type: "» ";
    margin-bottom: 0.75rem;
}

.statistics-content {
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    background-color: var(--schedule-color-light);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.stat-table {
    background-color: inherit;
}

.stat-table thead {
    position: sticky;
    top: 0;
    background-color: inherit;
}

.stat-table thead th {
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link {
    cursor: pointer;
}

.link:hover {
    color: var(--schedule-color-primary);
}

.hide {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.alert-custom {
    top: 20vh;
    width: 40vw;
    min-width: 300px;
    max-width: 90vw;
}

.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fs-7 {
    font-size: 0.875rem;
}

.bg-schedule-light {
    background-color: var(--schedule-color-light);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
}

.overlay-text {
    margin-top: 1.25rem;
    color: var(--schedule-color-light);
    font-size: 1.25rem;
    font-weight: 500;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 6rem;
    padding-right: 6rem;
    backdrop-filter: blur(2px);
    mask: radial-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.0) 80%);
}

.calendar {
    background-color: transparent;
    table-layout: fixed;
    width: 17.5rem;
}

.calendar td {
    text-align: center;
    border: transparent 0px solid;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.calendar th {
    text-align: center;
    border: transparent 0px solid;
    width: 2rem;
    height: 2rem;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.calendar th:nth-child(1) {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.calendar th:nth-child(7) {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.left-col-detail-table {
    width: 100%;
}

.left-col-detail-table td {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.left-col-detail-table td:nth-child(even) {
    text-align: right;
}

.hr-bold {
    border: 3px solid var(--schedule-color-primary);
    border-radius: 5%;
    opacity: 1 !important;
}

.w-45 {
    width: 45%;
}

.menu-trigger {
    position: fixed;
    top: 0;
    left: 0;
    width: 3.25rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    background-color: var(--schedule-color-primary-third);
    color: var(--schedule-color-light);
    user-select: none;
    cursor: pointer;
    z-index: 1500;
}

.menu-trigger:hover {
    background-color: var(--schedule-color-gray-dark);
}

.sliding-menu {
    background-color: var(--schedule-color-light);
}

.sliding-menu .offcanvas-header {
    margin-top: 3.25rem;
    margin-bottom: 3.25rem;
    padding-left: 3.5rem;
}

.sliding-menu .offcanvas-header .h5 {
    font-size: 1.75rem !important;
}

.sliding-menu ul {
    list-style: none;
}

.sliding-menu li {
    font-size: 1.25rem;
    padding:0.5rem;
}

.sliding-menu li:last-child {
    margin-top: 2rem;
}

.main-menu-item {
    background-color: var(--schedule-color-primary);
    color: var(--schedule-color-light) !important;
    border: 1px var(--schedule-color-lightgray) solid;
    user-select: none;
}

.main-menu-item:hover {
    --height: 1vw;
    position: relative;
    right: var(--height);
    box-shadow: var(--height) 0 var(--schedule-color-gray-dark);
}

.main-logo {
    background-color: var(--schedule-color-dimlight);
    color: var(--schedule-color-gray-dark);
    user-select: none;
}

.login-register {
    background-color: var(--schedule-color-primary);
    color: var(--schedule-color-light);
}

.login-register-mobile {
    background-color: var(--schedule-color-light);
    color: var(--schedule-color-gray-dark);
}


@media (min-width: 769px) and (max-width: 992px) { 
    :root {
        font-size: 11.5px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) { 
    :root {
        font-size: 13px;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) { 
    :root {
        font-size: 16px;
    }
}

@media (min-width: 1401px) { 
    :root {
        font-size: 17px;
    }
}

/* Mobile styling */
@media (max-width: 768px) {

    :root {
        font-size: 16px;
        --schedule-tile-width: 30vw;
        --schedule-tile-height: 20vw;
        --schedule-logo-width: 100vw;
        --schedule-logo-height: 12vh;
        --fs-tile-add: 2rem;
        --fs-tile: 1rem;
    }

    .shrink-for-logo {
        max-height: calc(100vh - var(--schedule-logo-height));
        margin-top: var(--schedule-logo-height);
    }

    .logo {
        padding-left: 0px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .main-menu-item {
        background-color: var(--schedule-color-gray);
    }

    .left-col {
        min-height: calc(100vh - var(--schedule-logo-height));
        max-height: calc(100vh - var(--schedule-logo-height));
        position: fixed;
        top: var(--schedule-logo-height);
        left: 0;
        overflow: scroll;
        width: 100%;
    }

    .left-toggle {
        width: 100vw;
    }

    .right-col {
        min-height: calc(100vh - var(--schedule-logo-height));
        max-height: calc(100vh - var(--schedule-logo-height));
        position: fixed;
        top: var(--schedule-logo-height);
        left: 0;
        overflow: scroll;
    }

    @keyframes blink {
        0% {color: var(--schedule-color-light);}
        50% {color: rgba(0,0,0,0)}
        100% {color: var(--schedule-color-primary-light);}
    }

    .col-toggle {
        position: fixed;
        top: 0;
        right: 0;
        padding-right: 0.375rem;
        font-size: 2rem;
        color: var(--schedule-color-light);
        animation-name: blink;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: linear;
        z-index: 101;
    }

    .tile-table {
        padding: 5vw;
        min-height: none;
    }

    .schedule-tile-normal {
        background-color: var(--schedule-color-primary-second);
        font-weight: 500;
        font-size: var(--fs-tile);
    }

    .schedule-tile-add {
        font-size: var(--fs-tile-add);
    }
    
    .doctor-tile-normal {
        font-size: var(--fs-tile);
    }
    
    .doctor-tile-add {
        font-size: var(--fs-tile-add);
    }

    .duty-calendar-tile {
        height: 2.5rem;
    }

    .duty-calendar-tile.weekend {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        color: var(--schedule-color-primary);
        background-color: var(--schedule-color-light);
    }

    .inactive.duty-calendar-tile.weekend {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        color: var(--schedule-color-gray);
        background-color: var(--schedule-color-light);
    }

    .duty-calendar-tile-day {
        font-size: 1.5rem;
    }

    .duty-calendar-tile.weekend .duty-calendar-tile-day::after {
        content: " (W)";
        font-size: 1rem;
    }

    .duty-calendar-tile-weekday {
        font-size: 0.875rem;
    }

    .duty-tile {
        height: 2.5rem;
    }

    .duty-tile-on-duty {
        font-size: 1rem;
    }

    .duty-tile-off-duty {
        font-size: 0.75rem;
        color: var(--schedule-color-dimlight);
        font-style: italic;
    }

    .duty-tile-control.control {
        color: var(--schedule-color-dimlight);
        font-size: 1.5rem;
    }

    .duty-tile-control.control:nth-of-type(1) {
        margin-right: 1.5rem;
    }

    .duty-tile-dropdown .dropdown-item {
        max-width: 50vw;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .duty-menu {
        height: 12vh;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 3;
        background-color: white;
    }
    
    .duty-menu .col {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .duty-menu .link {
        padding: 0.25rem;
        letter-spacing: -0.05rem;
        border-radius: 0.3rem;
    }

    .my-offcanvas {
        height: 50vh;
        width: 100vw;
    }

    .my-offcanvas .stat-table thead th {
        writing-mode: vertical-lr;
    }
}